<div class="modal-footer">
	<div class="hstack gap-2 justify-content-end">
		<button type="button" class="btn btn-light" data-bs-dismiss="modal">@Localizer.GetLocalizedString("CLOSE")</button>
		<button type="submit" class="btn btn-primary">@Localizer.GetLocalizedString("SUBMIT")</button>
	</div>
</div>