<meta charset="utf-8" />
<title>@Localizer.GetLocalizedString("APPLICATION_TITLE") | @ViewData["Title"]</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta content="Artificial Intelligence Reporting Application" name="description" />
<meta content="Aira" name="author" />
<!-- App favicon -->
<link rel="shortcut icon" href="~/assets/images/favicon.ico">